@theme {
    /* --theme-font-family-base: monospace, system-ui;
    --theme-font-family-heading: monospace, system-ui;
    --theme-font-color-base: 0 0 0;
    --theme-font-color-dark: 255 255 255; */
    --theme-rounded-base: 8px;
    --theme-rounded-container: 8px;
    --theme-border-base: 1px;
    --on-primary: 0 0 0;
    --on-secondary: 0 0 0;
    --on-tertiary: 255 255 255;
    --on-success: 0 0 0;
    --on-warning: 0 0 0;
    --on-error: 255 255 255;
    --on-surface: 255 255 255;
    --color-primary-50: 251 238 217;
    --color-primary-100: 250 232 204;
    --color-primary-200: 249 226 191;
    --color-primary-300: 245 209 153;
    --color-primary-400: 237 174 77;
    --color-primary-500: 229 139 0;
    --color-primary-600: 206 125 0;
    --color-primary-700: 172 104 0;
    --color-primary-800: 137 83 0;
    --color-primary-900: 112 68 0;
    --color-secondary-50: 219 242 252;
    --color-secondary-100: 207 237 251;
    --color-secondary-200: 195 233 250;
    --color-secondary-300: 159 219 246;
    --color-secondary-400: 86 192 240;
    --color-secondary-500: 14 165 233;
    --color-secondary-600: 13 149 210;
    --color-secondary-700: 11 124 175;
    --color-secondary-800: 8 99 140;
    --color-secondary-900: 7 81 114;
    --color-tertiary-50: 229 227 251;
    --color-tertiary-100: 220 218 250;
    --color-tertiary-200: 211 209 249;
    --color-tertiary-300: 185 181 245;
    --color-tertiary-400: 132 126 237;
    --color-tertiary-500: 79 70 229;
    --color-tertiary-600: 71 63 206;
    --color-tertiary-700: 59 53 172;
    --color-tertiary-800: 47 42 137;
    --color-tertiary-900: 39 34 112;
    --color-success-50: 237 247 220;
    --color-success-100: 230 245 208;
    --color-success-200: 224 242 197;
    --color-success-300: 206 235 162;
    --color-success-400: 169 219 92;
    --color-success-500: 132 204 22;
    --color-success-600: 119 184 20;
    --color-success-700: 99 153 17;
    --color-success-800: 79 122 13;
    --color-success-900: 65 100 11;
    --color-warning-50: 254 248 224;
    --color-warning-100: 253 246 213;
    --color-warning-200: 253 244 203;
    --color-warning-300: 251 237 171;
    --color-warning-400: 249 224 108;
    --color-warning-500: 246 211 45;
    --color-warning-600: 221 190 41;
    --color-warning-700: 185 158 34;
    --color-warning-800: 148 127 27;
    --color-warning-900: 121 103 22;
    --color-error-50: 250 221 222;
    --color-error-100: 249 209 211;
    --color-error-200: 247 198 200;
    --color-error-300: 243 164 167;
    --color-error-400: 233 95 102;
    --color-error-500: 224 27 36;
    --color-error-600: 202 24 32;
    --color-error-700: 168 20 27;
    --color-error-800: 134 16 22;
    --color-error-900: 110 13 18;
    --color-surface-50: 225 225 226;
    --color-surface-100: 215 215 216;
    --color-surface-200: 205 206 206;
    --color-surface-300: 174 176 177;
    --color-surface-400: 114 116 118;
    --color-surface-500: 53 57 59;
    --color-surface-600: 48 51 53;
    --color-surface-700: 40 43 44;
    --color-surface-800: 32 34 35;
    --color-surface-900: 26 28 29;
    --color-surface-950: 22 24 25;
}
