
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/barlow/Barlow-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/barlow/Barlow-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/barlow/Barlow-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 100;
  src: url('/assets/fonts/barlow/Barlow-ThinItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/barlow/Barlow-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 200;
  src: url('/assets/fonts/barlow/Barlow-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/barlow/Barlow-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 300;
  src: url('/assets/fonts/barlow/Barlow-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/barlow/Barlow-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 500;
  src: url('/assets/fonts/barlow/Barlow-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/barlow/Barlow-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/barlow/Barlow-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/barlow/Barlow-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/barlow/Barlow-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/barlow/Barlow-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 800;
  src: url('/assets/fonts/barlow/Barlow-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/barlow/Barlow-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 900;
  src: url('/assets/fonts/barlow/Barlow-BlackItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/barlow/BarlowCondensed-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/barlow/BarlowCondensed-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/barlow/BarlowCondensed-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 100;
  src: url('/assets/fonts/barlow/BarlowCondensed-ThinItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/barlow/BarlowCondensed-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 200;
  src: url('/assets/fonts/barlow/BarlowCondensed-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/barlow/BarlowCondensed-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 300;
  src: url('/assets/fonts/barlow/BarlowCondensed-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/barlow/BarlowCondensed-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 500;
  src: url('/assets/fonts/barlow/BarlowCondensed-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/barlow/BarlowCondensed-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/barlow/BarlowCondensed-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/barlow/BarlowCondensed-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/barlow/BarlowCondensed-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/barlow/BarlowCondensed-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 800;
  src: url('/assets/fonts/barlow/BarlowCondensed-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/barlow/BarlowCondensed-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 900;
  src: url('/assets/fonts/barlow/BarlowCondensed-BlackItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 100;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-ThinItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 200;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 300;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 500;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 800;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 900;
  src: url('/assets/fonts/barlow/BarlowSemiCondensed-BlackItalic.woff2') format('woff2');
}


:root {
    --timeline-max-width: 1280px;
    --border-radius-standard: 8px;

    --color-accent-lighter2: #fcf1af;
    --color-accent-lighter: #ffd799;
    --color-accent: #ffaa00;
    --color-accent-darker: #876300;
    --color-accent-darker2: #5b4301;
    --color-accent-text: #000;

    --color-accent-complement-lighter2: rgb(130, 238, 255);
    --color-accent-complement-lighter: #0df;
    --color-accent-complement: #0af;
    --color-accent-complement-darker: #07d;
    --color-accent-complement-darker2: rgb(0, 80, 150);
    --color-accent-complement-text: #000;

    --color-neutral-darker3: #333;
    --color-neutral-darker2: #666;
    --color-neutral-darker: #aaa;
    --color-neutral: #eee;
    --color-neutral-lighter: #fff;

    --color-text: var(--color-neutral);
    --color-text-assistant: #ffd799;

    --color-background-darker: #111;
    --color-background: #222;
    --color-background-lighter: #333;

    --color-accent-warning-darker: #a52f2f;
    --color-accent-warning: #d65252;
    --color-accent-warning-lighter: #f87474;

    --color-accent-success-darker: #2f5a2f;
    --color-accent-success: #4caf50;
    --color-accent-success-lighter: #81c784;


    /* ---- */

    --color-primary-50: #fbeed9;
    --color-primary-100: #fae8cc;
    --color-primary-200: #f9e2bf;
    --color-primary-300: #f5d199;
    --color-primary-400: #edae4d;
    --color-primary-500: #e58b00;
    --color-primary-600: #ce7d00;
    --color-primary-700: #ac6800;
    --color-primary-800: #895300;
    --color-primary-900: #704400;
    --color-secondary-50: #dbf2fc;
    --color-secondary-100: #cfedfb;
    --color-secondary-200: #c3e9fa;
    --color-secondary-300: #9fdbf6;
    --color-secondary-400: #56c0f0;
    --color-secondary-500: #0ea5e9;
    --color-secondary-600: #0d95d2;
    --color-secondary-700: #0b7caf;
    --color-secondary-800: #08638c;
    --color-secondary-900: #075172;
    --color-tertiary-50: #e5e3fb;
    --color-tertiary-100: #dcdafa;
    --color-tertiary-200: #d3d1f9;
    --color-tertiary-300: #b9b5f5;
    --color-tertiary-400: #847eed;
    --color-tertiary-500: #4f46e5;
    --color-tertiary-600: #473fce;
    --color-tertiary-700: #3b35ac;
    --color-tertiary-800: #2f2a89;
    --color-tertiary-900: #272270;
    --color-success-50: #edf7dc;
    --color-success-100: #e6f5d0;
    --color-success-200: #e0f2c5;
    --color-success-300: #ceeba2;
    --color-success-400: #a9db5c;
    --color-success-500: #84cc16;
    --color-success-600: #77b814;
    --color-success-700: #639911;
    --color-success-800: #4f7a0d;
    --color-success-900: #41640b;
    --color-warning-50: #fef8e0;
    --color-warning-100: #fdf6d5;
    --color-warning-200: #fdf4cb;
    --color-warning-300: #fbedab;
    --color-warning-400: #f9e06c;
    --color-warning-500: #f6d32d;
    --color-warning-600: #ddbe29;
    --color-warning-700: #b99e22;
    --color-warning-800: #947f1b;
    --color-warning-900: #796716;
    --color-error-50: #faddde;
    --color-error-100: #f9d1d3;
    --color-error-200: #f7c6c8;
    --color-error-300: #f3a4a7;
    --color-error-400: #e95f66;
    --color-error-500: #e01b24;
    --color-error-600: #ca1820;
    --color-error-700: #a8141b;
    --color-error-800: #861016;
    --color-error-900: #6e0d12;
    --color-surface-50: #e1e1e2;
    --color-surface-100: #d7d7d8;
    --color-surface-200: #cdcece;
    --color-surface-300: #aeb0b1;
    --color-surface-400: #727476;
    --color-surface-500: #35393b;
    --color-surface-600: #303335;
    --color-surface-700: #282b2c;
    --color-surface-800: #202223;
    --color-surface-900: #1a1c1d;
    --color-surface-950: #161819;

    --toastBackground: var(--color-background-lighter);
    --toastColor: var(--color-text);
    --toastBarBackground: var(--color-accent);

    --font-ui: "Barlow Condensed",  system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
    --font-timeline: "Barlow", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
}

html {
    overflow: auto;
    height: unset !important;
}

html,
body {
    font-family: var(--font-ui);
    width: 100vw !important;
    height: 100vh !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.debug1 {
    border: 1px solid red !important;
}

.debug2 {
    border: 1px solid blue !important;
}

.debug3 {
    border: 1px solid green !important;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    display: contents;
}


.background-grid {
    background-color: #f0f;
    background-image: linear-gradient(#222 1px, transparent 1px),
        linear-gradient(90deg, #222 1px, transparent 1px);
    background-size: 1rem 1rem;
}

.response.markdown {
    overflow-x: unset;

    ol,
    ul {
        margin-top: 0;
        list-style: square;
        margin-left: 1em;
        list-style-type: decimal;

        li {
            margin-bottom: 0.5em;
        }
    }

    pre {
        max-width: 100%;
        color: #fb0;
        background-color: #000;
        line-height: 1.1em;
        font-family: monospace !important;
        background-image: linear-gradient(0deg, #ffffff16 0%, transparent 100%);
        background-size: 100% 4px;
        background-repeat: repeat-y;
        border-radius: var(--border-radius-standard);
        border-bottom: 1px solid #333;
        font-size: 0.8em;
        letter-spacing: -1px;
        white-space: break-spaces;
        margin-block: 1em;
    }

    em,
    strong {
        /* color: rgb(193, 166, 91) !important;*/
        color: var(--color-primary-400, #f0f) !important;
        font-weight: bold;

        &::before {
            content: "**";
            font-weight: normal;
            opacity: 0.65;
        }

        &::after {
            content: "**";
            font-weight: normal;
            opacity: 0.65;
        }
    }

    em {
        &::before {
            content: "*";
            font-weight: normal;
            opacity: 0.65;
        }

        &::after {
            content: "*";
            font-weight: normal;
            opacity: 0.65;
        }
    }

    code {
        font-family: monospace !important;
        color: rgb(191, 191, 191);
        line-height: 1.1em;
    }

    p {
        margin-bottom: 1em;
    }

    hr {
        margin: 2em 10% !important;
        border: 1px;
        border-color: #40f;
        border-style: dashed;
    }

    h5,
    h4,
    h3,
    h2,
    h1 {
        color: white !important;
        font-weight: bold;
        margin: 1em 0 0.5em 0 !important;
        border-bottom: 4px double rgba(255, 255, 255, 0.35);
        padding-bottom: 0.5em;
        font-size: 1.5em !important;

        &::before {
            content: "# ";
            opacity: 0.5;
        }

        strong {
            color: inherit !important;

            &::before,
            &::after {
                content: unset;
            }

            text-decoration: underline;
        }
    }

    h2 {
        color: rgb(104, 187, 255) !important;
        font-size: 1.3em !important;
        border-bottom: 2px solid white;
        border-bottom-style: dashed !important;
        border-bottom-color: rgba(104, 187, 255, 0.5) !important;

        width: 90%;

        &::before {
            content: "## ";
            opacity: 0.5;
        }
    }

    h3 {
        color: rgb(104, 255, 187) !important;
        width: 80%;
        font-size: 1.1em !important;
        border-bottom: 3px solid white;
        border-bottom-style: dotted;

        border-bottom-color: rgba(104, 255, 187, 0.25) !important;

        &::before {
            content: "### ";
            opacity: 0.5;
        }
    }

    h4 {
        color: rgb(255, 104, 187) !important;
        font-size: 0.9em !important;
        font-weight: bold;
        font-style: italic;
        border-bottom: none;
        text-decoration: none;

        &::before {
            content: "#### ";
            opacity: 0.5;
        }
    }

    h5 {
        color: white !important;
        font-size: 0.8em !important;
        font-weight: normal;
        font-style: italic;
        border-bottom: none;
        text-decoration: none;

        &::before {
            content: "##### ";
            opacity: 0.5;
        }
    }

    h6 {
        color: #aaa !important;
        font-size: 0.8em !important;
        font-weight: normal;
        border-bottom: none;
        text-decoration: none;

        &::before {
            content: "###### ";
            color: white;
            opacity: 0.25;
        }
    }

    table {
        outline: 1px solid var(--color-neutral-darker2);
        box-shadow: 0 0 20px black;
        width: 100%;
        margin-block: 1em;

        th {
            background-color: var(--color-accent-darker2);
            font-weight: bold;
            padding: 0.5em;
            text-align: center !important;
            color: var(--color-accent) !important;

            strong {
                color: black !important;

                &::before,
                &::after {
                    content: unset;
                }
            }
        }

        tr {
            background-color: --color-background-darker;
            color: white;

            td {
                outline: 1px solid var(--color-background-darker);
                padding: 0.25em;

                text-align: left !important;
            }
        }
    }

    blockquote {
        font-family: serif;
        color: darkgray;
        font-size: 0.75em;
        font-weight: 300;
        /* font-style: italic ; */
        font-synthesis: initial;
        border-left: 0.25em double #555;
        padding-left: 1.2em;
        border-radius: 10px;
        position: relative;

        &::before {
            content: '❝';
            color: #777;
            position: absolute;
            font-size: 1.2em;
            left: 0.2em;
            top: -0.2em;
        }
    }
}

button {
    background-color: var(--color-accent);
    color: var(--color-accent-text);

    border: none;
    padding: 0.5em 0.75em;
    border-radius: var(--border-radius-standard);
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
    place-content: center;
    text-align: center;


    &:hover {
        background-color: var(--color-accent-lighter);
    }

    &:active {
        background-color: var(--color-accent-darker);
    }

    &.secondary {
        background-color: var(--color-accent-complement);
        color: var(--color-accent-complement-text);

        &:hover {
            background-color: var(--color-accent-complement-lighter);
        }
    }

    &.warning {
        background-color: var(--color-accent-warning) !important;
        color: white;

        &:hover {
            background-color: var(--color-accent-warning-lighter) !important;
        }
    }

    &.small {
        padding: 0.25em 0.5em;
        font-size: 0.8em;
        font-weight: unset;
    }
}