@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

// @font-face {
//     font-family: "Barlow";
//     font-style: normal;
//     font-weight: 400;
//     src: url("/assets/fonts/barlow/Barlow-Regular.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: italic;
//     font-weight: 400;
//     src: url("/assets/fonts/barlow/Barlow-Italic.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: normal;
//     font-weight: 100;
//     src: url("/assets/fonts/barlow/Barlow-Thin.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: italic;
//     font-weight: 100;
//     src: url("/assets/fonts/barlow/Barlow-ThinItalic.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: normal;
//     font-weight: 200;
//     src: url("/assets/fonts/barlow/Barlow-ExtraLight.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: italic;
//     font-weight: 200;
//     src: url("/assets/fonts/barlow/Barlow-ExtraLightItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: normal;
//     font-weight: 300;
//     src: url("/assets/fonts/barlow/Barlow-Light.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: italic;
//     font-weight: 300;
//     src: url("/assets/fonts/barlow/Barlow-LightItalic.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: normal;
//     font-weight: 500;
//     src: url("/assets/fonts/barlow/Barlow-Medium.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: italic;
//     font-weight: 500;
//     src: url("/assets/fonts/barlow/Barlow-MediumItalic.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: normal;
//     font-weight: 600;
//     src: url("/assets/fonts/barlow/Barlow-SemiBold.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: italic;
//     font-weight: 600;
//     src: url("/assets/fonts/barlow/Barlow-SemiBoldItalic.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: normal;
//     font-weight: 700;
//     src: url("/assets/fonts/barlow/Barlow-Bold.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: italic;
//     font-weight: 700;
//     src: url("/assets/fonts/barlow/Barlow-BoldItalic.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: normal;
//     font-weight: 800;
//     src: url("/assets/fonts/barlow/Barlow-ExtraBold.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: italic;
//     font-weight: 800;
//     src: url("/assets/fonts/barlow/Barlow-ExtraBoldItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: normal;
//     font-weight: 900;
//     src: url("/assets/fonts/barlow/Barlow-Black.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: italic;
//     font-weight: 900;
//     src: url("/assets/fonts/barlow/Barlow-BlackItalic.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: normal;
//     font-weight: 400;
//     src: url("/assets/fonts/barlow/BarlowCondensed-Regular.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: italic;
//     font-weight: 400;
//     src: url("/assets/fonts/barlow/BarlowCondensed-Italic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: normal;
//     font-weight: 100;
//     src: url("/assets/fonts/barlow/BarlowCondensed-Thin.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: italic;
//     font-weight: 100;
//     src: url("/assets/fonts/barlow/BarlowCondensed-ThinItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: normal;
//     font-weight: 200;
//     src: url("/assets/fonts/barlow/BarlowCondensed-ExtraLight.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: italic;
//     font-weight: 200;
//     src: url("/assets/fonts/barlow/BarlowCondensed-ExtraLightItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: normal;
//     font-weight: 300;
//     src: url("/assets/fonts/barlow/BarlowCondensed-Light.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: italic;
//     font-weight: 300;
//     src: url("/assets/fonts/barlow/BarlowCondensed-LightItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: normal;
//     font-weight: 500;
//     src: url("/assets/fonts/barlow/BarlowCondensed-Medium.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: italic;
//     font-weight: 500;
//     src: url("/assets/fonts/barlow/BarlowCondensed-MediumItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: normal;
//     font-weight: 600;
//     src: url("/assets/fonts/barlow/BarlowCondensed-SemiBold.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: italic;
//     font-weight: 600;
//     src: url("/assets/fonts/barlow/BarlowCondensed-SemiBoldItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: normal;
//     font-weight: 700;
//     src: url("/assets/fonts/barlow/BarlowCondensed-Bold.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: italic;
//     font-weight: 700;
//     src: url("/assets/fonts/barlow/BarlowCondensed-BoldItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: normal;
//     font-weight: 800;
//     src: url("/assets/fonts/barlow/BarlowCondensed-ExtraBold.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: italic;
//     font-weight: 800;
//     src: url("/assets/fonts/barlow/BarlowCondensed-ExtraBoldItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: normal;
//     font-weight: 900;
//     src: url("/assets/fonts/barlow/BarlowCondensed-Black.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Barlow Condensed";
//     font-style: italic;
//     font-weight: 900;
//     src: url("/assets/fonts/barlow/BarlowCondensed-BlackItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: normal;
//     font-weight: 400;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-Regular.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: italic;
//     font-weight: 400;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-Italic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: normal;
//     font-weight: 100;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-Thin.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: italic;
//     font-weight: 100;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-ThinItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: normal;
//     font-weight: 200;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-ExtraLight.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: italic;
//     font-weight: 200;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-ExtraLightItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: normal;
//     font-weight: 300;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-Light.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: italic;
//     font-weight: 300;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-LightItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: normal;
//     font-weight: 500;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-Medium.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: italic;
//     font-weight: 500;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-MediumItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: normal;
//     font-weight: 600;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-SemiBold.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: italic;
//     font-weight: 600;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-SemiBoldItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: normal;
//     font-weight: 700;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-Bold.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: italic;
//     font-weight: 700;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-BoldItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: normal;
//     font-weight: 800;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-ExtraBold.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: italic;
//     font-weight: 800;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-ExtraBoldItalic.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: normal;
//     font-weight: 900;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-Black.woff2")
//         format("woff2");
// }

// @font-face {
//     font-family: "Barlow Semi Condensed";
//     font-style: italic;
//     font-weight: 900;
//     src: url("/assets/fonts/barlow/BarlowSemiCondensed-BlackItalic.woff2")
//         format("woff2");
// }

$color-accent-base: #ffaa00;
$color-accent-complement-base: #00aaff; //#2356ff;
$color-accent-tertiary-base: #00aaff;
$color-spread: 20;

:root {
    --timeline-max-width: 1280px;
    --border-radius-standard: 6px;

    --color-accent-lightest: #{lighten($color-accent-base, $color-spread * 2)};
    --color-accent-lighter: #{lighten($color-accent-base, $color-spread)};
    --color-accent: #{$color-accent-base};
    --color-accent-darker: #{darken($color-accent-base, $color-spread)};
    --color-accent-darkest: #{darken($color-accent-base, $color-spread * 1.5)};
    --color-accent-text: #000;


    --color-accent-complement-lightest: #{lighten($color-accent-complement-base, $color-spread * 2)};
    --color-accent-complement-lighter: #{lighten($color-accent-complement-base, $color-spread)};
    --color-accent-complement: #{$color-accent-complement-base};
    --color-accent-complement-darker: #{darken($color-accent-complement-base, $color-spread)};
    --color-accent-complement-darkest: #{darken($color-accent-complement-base, $color-spread * 1.5)};
    --color-accent-complement-text: #000;

    --color-accent-tertiary-lightest: #{lighten($color-accent-tertiary-base, $color-spread * 2)};
    --color-accent-tertiary-lighter: #{lighten($color-accent-tertiary-base, $color-spread)};
    --color-accent-tertiary: #{$color-accent-tertiary-base};
    --color-accent-tertiary-darker: #{darken($color-accent-tertiary-base, $color-spread)};
    --color-accent-tertiary-darkest: #{darken($color-accent-tertiary-base, $color-spread * 1.5)};
    --color-accent-tertiary-text: #000;

    --color-neutral-darkest: #333;
    --color-neutral-darker: #666;
    --color-neutral: #aaa;
    --color-neutral-lighter: #eee;
    --color-neutral-lightest: #fff;

    --color-background-darkest: #000;
    --color-background-darker: #111;
    --color-background: #222;
    --color-background-lighter: #333;
    --color-background-lightest: #444;
    --color-text: var(--color-neutral);
    --color-text-assistant: var(--color-accent-lighter); /* for assistant messages */

    --color-warning-darker: #a52f2f;
    --color-warning: #d65252;
    --color-warning-lighter: #f87474;
    --color-warning-text: #000;

    --color-success-darker: #2f5a2f;
    --color-success: #4caf50;
    --color-success-lighter: #81c784;
    --color-success-text: #000;

    --color-error-lighter: #f7a1a7;
    --color-error: #e01b24;
    --color-error-darker: #a8141b;
    --color-error-text: #fff;



    --thumb-color: var(--color-accent);
    --track-color: var(--color-background-darker);
    --track-width: thin;

    --toastBackground: var(--color-background-lighter);
    --toastColor: var(--color-text);
    --toastBarBackground: var(--color-accent);

    --toastErrorBackground: var(--color-error-700);
    --toastErrorColor: var(#fff);
    --toastErrorBarBackground: var(--color-error-300);

    --font-ui: "Google Sans Flex","Barlow Condensed", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans",
        "Helvetica Neue", sans-serif;
    --font-timeline: "Google Sans Flex","Barlow", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans",
        "Helvetica Neue", sans-serif;
}

html {
    overflow: auto;
    height: unset !important;
    scrollbar-width: var(--track-width);
    scrollbar-color: var(--thumb-color) var(--track-color);
}

html,
body {
    font-family: var(--font-ui);
    width: 100vw !important;
    height: 100vh !important;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.debug1 {
    border: 1px solid red !important;
}

.debug2 {
    border: 1px solid blue !important;
}

.debug3 {
    border: 1px solid green !important;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    display: contents;
}

.background-grid {
    background-color: #f0f;
    background-image: linear-gradient(#222 1px, transparent 1px),
        linear-gradient(90deg, #222 1px, transparent 1px);
    background-size: 1rem 1rem;
}

.response.markdown {
    overflow-x: unset;

    ol,
    ul {
        margin-top: 0;
        list-style: square;
        margin-left: 1em;
        list-style-type: decimal;

        li {
            margin-bottom: 0.5em;
        }
    }

    pre {
        max-width: 100%;
        color: #fb0;
        background-color: #000;
        line-height: 1.1em;
        font-family: monospace !important;
        background-image: linear-gradient(0deg, #ffffff16 0%, transparent 100%);
        background-size: 100% 4px;
        background-repeat: repeat-y;
        border-radius: var(--border-radius-standard);
        border-bottom: 1px solid #333;
        font-size: 0.8em;
        letter-spacing: -1px;
        white-space: break-spaces;
        margin-block: 1em;
    }

    em,
    strong {
        /* color: rgb(193, 166, 91) !important;*/
        color: var(--color-accent-lightest, #f0f) !important;
        font-weight: bold;

        &::before {
            content: "**";
            font-weight: normal;
            opacity: 0.65;
        }

        &::after {
            content: "**";
            font-weight: normal;
            opacity: 0.65;
        }
    }

    em {
        &::before {
            content: "*";
            font-weight: normal;
            opacity: 0.65;
        }

        &::after {
            content: "*";
            font-weight: normal;
            opacity: 0.65;
        }
    }

    code {
        font-family: monospace !important;
        color: rgb(191, 191, 191);
        line-height: 1.1em;
    }

    p {
        margin-bottom: 1em;
    }

    hr {
        margin: 2em 10% !important;
        border: 1px;
        border-color: #40f;
        border-style: dashed;
    }

    h5,
    h4,
    h3,
    h2,
    h1 {
        color: white !important;
        font-weight: bold;
        margin: 1em 0 0.5em 0 !important;
        border-bottom: 4px double rgba(255, 255, 255, 0.35);
        padding-bottom: 0.5em;
        font-size: 1.5em !important;

        &::before {
            content: "# ";
            opacity: 0.5;
        }

        strong {
            color: inherit !important;

            &::before,
            &::after {
                content: unset;
            }

            text-decoration: underline;
        }
    }

    h2 {
        color: rgb(104, 187, 255) !important;
        font-size: 1.3em !important;
        border-bottom: 2px solid white;
        border-bottom-style: dashed !important;
        border-bottom-color: rgba(104, 187, 255, 0.5) !important;

        width: 90%;

        &::before {
            content: "## ";
            opacity: 0.5;
        }
    }

    h3 {
        color: rgb(104, 255, 187) !important;
        width: 80%;
        font-size: 1.1em !important;
        border-bottom: 3px solid white;
        border-bottom-style: dotted;

        border-bottom-color: rgba(104, 255, 187, 0.25) !important;

        &::before {
            content: "### ";
            opacity: 0.5;
        }
    }

    h4 {
        color: rgb(255, 104, 187) !important;
        font-size: 0.9em !important;
        font-weight: bold;
        font-style: italic;
        border-bottom: none;
        text-decoration: none;

        &::before {
            content: "#### ";
            opacity: 0.5;
        }
    }

    h5 {
        color: white !important;
        font-size: 0.8em !important;
        font-weight: normal;
        font-style: italic;
        border-bottom: none;
        text-decoration: none;

        &::before {
            content: "##### ";
            opacity: 0.5;
        }
    }

    h6 {
        color: #aaa !important;
        font-size: 0.8em !important;
        font-weight: normal;
        border-bottom: none;
        text-decoration: none;

        &::before {
            content: "###### ";
            color: white;
            opacity: 0.25;
        }
    }

    table {
        outline: 1px solid var(--color-neutral-darkest);
        box-shadow: 0 0 20px black;
        width: 100%;
        margin-block: 1em;

        th {
            background-color: var(--color-accent-darkest);
            font-weight: bold;
            padding: 0.5em;
            text-align: center !important;
            color: var(--color-accent) !important;

            strong {
                color: black !important;

                &::before,
                &::after {
                    content: unset;
                }
            }
        }

        tr {
            background-color: --color-background-darker;
            color: currentColor;

            td {
                outline: 1px solid var(--color-background-darker);
                padding: 0.25em;

                text-align: left !important;
            }
        }
    }

    blockquote {
        font-family: serif;
        color: darkgray;
        font-size: 0.75em;
        font-weight: 300;
        /* font-style: italic ; */
        font-synthesis: initial;
        border-left: 0.25em double #555;
        padding-left: 1.2em;
        border-radius: 10px;
        position: relative;

        &::before {
            content: "❝";
            color: #777;
            position: absolute;
            font-size: 1.2em;
            left: 0.2em;
            top: -0.2em;
        }
    }
}

button {
    background-color: var(--color-accent);
    color: var(--color-accent-text);
    font-family: var(--font-ui);
    font-weight: 500;
    border: none;
    padding: 0.5em 0.75em;
    border-radius: var(--border-radius-standard);
    font-size: 1.1rem;
    cursor: pointer;
    display: inline-block;
    place-content: center;
    text-align: center;
    transition: background-color 0.15s ease-in-out;

    &:hover {
        background-color: var(--color-accent-lighter);
    }

    &:active {
        background-color: var(--color-accent-darker);
    }

    &.secondary {
        background-color: var(--color-accent-complement);
        color: var(--color-accent-complement-text);

        &:hover {
            background-color: var(--color-accent-complement-lighter);
        }
    }

    &.warning {
        background-color: var(--color-warning) !important;
        color: var(--color-warning-text) !important;

        &:hover {
            background-color: var(--color-warning-lighter) !important;
        }
    }

    &.small {
        padding: 0.25em 0.5em;
        font-size: 0.8em;
        font-weight: unset;
    }
    &.trans {
        background-color: transparent;
        padding: unset;
        padding-inline: 0.25rem;
        color: var(--color-accent);
        margin-inline: 0.25rem;
        line-height: 1em;
    }
    &.trans:hover {
        background-color: #fff1;
    }
}
