@import "tailwindcss";

@import "tailwindcss/utilities.css" layer(utilities);
@import "tailwindcss/preflight.css" layer(base);

/* @plugin "daisyui"; */

@plugin "daisyui" {
    themes: dark --default;
}

@import "./theme/chit2-theme.css" layer(theme);

:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue",
        sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow: auto;
    height: unset !important;
}

html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue",
        sans-serif;
    /* height: unset !important; */
    height: 100vh !important;
}
body {
}

.debug1 {
    border: 1px solid red !important;
}
.debug2 {
    border: 1px solid blue !important;
}
.debug3 {
    border: 1px solid green !important;
}

/* a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
} */

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    overflow: hidden;
    height: 100%;
    display: contents;
}

/* button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */

.background-grid {
    /* background-color: #0f0f0f; */
    background-color: #f0f;
    background-image: linear-gradient(#222 1px, transparent 1px),
        linear-gradient(90deg, #222 1px, transparent 1px);
    background-size: 1rem 1rem;
}

.response.markdown {
    overflow-x: unset;

    ol,
    ul {
        margin-top: 0;
        list-style: square;
        margin-left: 1em;
        list-style-type: decimal;

        li {
            margin-bottom: 0.5em;
        }
    }

    pre {
        max-width: 100%;
        color: #fb0;
        background-color: #000;
        line-height: 1.1em;
        font-family: monospace !important;
        background-image: linear-gradient(0deg, #ffffff16 0%, transparent 100%);
        background-size: 100% 4px;
        background-repeat: repeat-y;
        border-radius: 10px;
        border-bottom: 1px solid #333;
        font-size: 0.8em;
        letter-spacing: -1px;
        white-space: break-spaces;
        margin-block: 1em;
    }

    em,
    strong {
        /* color: rgb(193, 166, 91) !important;*/
        color: var(--color-primary-400, #f0f) !important;
        font-weight: bold;

        &::before {
            content: "**";
            font-weight: normal;
            opacity: 0.65;
        }

        &::after {
            content: "**";
            font-weight: normal;
            opacity: 0.65;
        }
    }

    em {
        &::before {
            content: "*";
            font-weight: normal;
            opacity: 0.65;
        }

        &::after {
            content: "*";
            font-weight: normal;
            opacity: 0.65;
        }
    }

    code {
        font-family: monospace !important;
        /* color: var(--accent-color1);*/
        color: rgb(191, 191, 191);
        line-height: 1.1em;
    }

    p {
        margin-bottom: 1em;
    }

    hr {
        margin: 2em 10% !important;
        border: 1px;
        border-color: #40f;
        border-style: dashed;
    }

    h5,
    h4,
    h3,
    h2,
    h1 {
        color: white !important;
        font-weight: bold;
        margin: 1em 0 0.5em 0 !important;
        border-bottom: 4px double rgba(255, 255, 255, 0.35);
        padding-bottom: 0.5em;
        font-size: 1.5em !important;
        /* margin-block-start: 1.5em; */
        &::before {
            content: "# ";
            opacity: 0.5;
        }

        strong {
            color: inherit !important;
            &::before,
            &::after {
                content: unset;
            }
            text-decoration: underline;
        }
    }

    h2 {
        color: rgb(104, 187, 255) !important;
        font-size: 1.3em !important;
        border-bottom: 2px solid white;
        border-bottom-style: dashed !important;
        border-bottom-color: rgba(104, 187, 255, 0.5) !important;

        width: 90%;
        &::before {
            content: "## ";
            opacity: 0.5;
        }
    }

    h3 {
        color: rgb(104, 255, 187) !important;
        width: 80%;
        font-size: 1.1em !important;
        border-bottom: 3px solid white;
        border-bottom-style: dotted;

        border-bottom-color: rgba(104, 255, 187, 0.25) !important;
        &::before {
            content: "### ";
            opacity: 0.5;
        }
    }

    h4 {
        /* color: rgb(179, 251, 255) !important; */
        color: rgb(255, 104, 187) !important;
        font-size: 0.9em !important;
        font-weight: bold;
        font-style: italic;
        border-bottom: none;
        text-decoration: none;
        &::before {
            content: "#### ";
            opacity: 0.5;
        }
    }

    h5 {
        color: white !important;
        font-size: 0.8em !important;
        font-weight: normal;
        font-style: italic;
        border-bottom: none;
        text-decoration: none;
        &::before {
            content: "##### ";
            opacity: 0.5;
        }
    }

    h6 {
        color: #aaa !important;
        font-size: 0.8em !important;
        font-weight: normal;
        /* font-style: italic; */
        border-bottom: none;
        text-decoration: none;
        &::before {
            content: "###### ";
            color: white;
            opacity: 0.25;
        }
    }

    table {
        outline: 1px solid var(--accent-color-darker4);
        box-shadow: 0 0 20px black;
        width: 100%;
        margin-block: 1em;
        th {
            background-color: var(--accent-color-darker4);
            padding: 0.5em;
            text-align: center !important;
            color: black !important;
            strong {
                color: black !important;
                &::before,
                &::after {
                    content: unset;
                }
            }
        }
        tr {
            background-color: #202020;
            color: white;
            td {
                outline: 1px solid var(--accent-color-darker4);
                padding: 0.25em;

                text-align: left !important;
            }
        }
    }
}
